<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
 <!--realtive address: /images/banner.png is enough for local user-->
            <p>
            <a href="https://site.unibo.it/encode/en/"><img src="/guidelines/images/banner.png" alt="ENCODE Banner" style="width: 500px; text-align:center;"></a>
         </p>
         <p><b>PARTNERS:</b></p>
         <p>
           <img src="/guidelines/images/partners.png" alt="Partners+" style="width: 1200px; text-align:center;">
         </p>
              <p><b>FUNDING:</b></p>
         <p>
           <a href="https://erasmus-plus.ec.europa.eu/opportunities/opportunities-for-organisations/cooperation-among-organisations-and-institutions"><img src="/guidelines/images/erasmus_logo.jpg" alt="Erasmus+" style="width: 400px; text-align:center;">
              <img src="/guidelines/images/disclaimer_en.png" alt="disclaimer" style="width: 500px; text-align:center;">
            </p>
            <br>
            ---------
            
     <p><b><a href="https://www.csrhymes.com">Website theme built by C.S. Rhymes</a></b></p>
        </div>
    </div>
</footer>
<!--realtive address of images: /images/banner.png is needed for local user, while guidelines/images/banner.png is needed for online version-->
