<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
 <!--realtive address: /images/banner.png is enough for local user-->
            <p>
            <a href="https://site.unibo.it/encode/en/"><img src="/guidelines/images/banner.png" alt="ENCODE Banner" style="width: 500px; text-align:center;"></a>
         </p>
         <p><b>PARTNERS:</b></p>
         <p>
             <a href="https://disci.unibo.it/it/ricerca/progetti-di-ricerca/progetti-europei/encode-bridging-the-gap-in-ancient-writing-cultures-enhance-competences-in-the-digital-era"><img src="/guidelines/images/bologna.jpeg" alt="logo_bologna" style="height: 55px; text-align:center;"></a>
       <img src="/guidelines/images/hamburg.jpeg" alt="logo_hamburg" style="height: 55px; text-align:center;"></a>
           <a href="https://www.arts.kuleuven.be/oudegeschiedenis/onderzoek/projecten/encode"><img src="/guidelines/images/leuven.png" alt="logo_leuven+" style="height: 55px; text-align:center;"></a>
        <a href="https://www.ub.uio.no/om/prosjekter/encode/index.html"><img src="/guidelines/images/oslo.jpg" alt="logo_oslo" style="height: 55px; text-align:center;"></a>
           <a href="https://www.dusic.unipr.it/it/ricerca/centri-laboratori-e-gruppi-di-ricerca/gruppi-di-ricerca"><img src="/guidelines/images/parma.png" alt="logo_parma" style="height: 55px; text-align:center;"></a>
          <a href="https://www.klassphil.uni-wuerzburg.de/institut/lehrstuhl-i-graezistik/forschung/laufende-forschungsprojekte/encode/"><img src="/guidelines/images/würzburg.png" alt="logo_würzburg" style="height: 55px; text-align:center;"></a>
         </p>
              <p><b>FUNDING:</b></p>
         <p>
           <a href="https://erasmus-plus.ec.europa.eu/opportunities/opportunities-for-organisations/cooperation-among-organisations-and-institutions"><img src="/guidelines/images/erasmus_logo.jpg" alt="Erasmus+" style="width: 400px; text-align:center;">
              <img src="/guidelines/images/disclaimer_en.png" alt="disclaimer" style="width: 500px; text-align:center;">
            </p>
            <br>
            ---------
            
     <p><b><a href="https://www.csrhymes.com">Website theme built by C.S. Rhymes</a></b></p>
        </div>
    </div>
</footer>
<!--realtive address of images: /images/banner.png is needed for local user, while guidelines/images/banner.png is needed for online version-->
