<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
 <!--realtive address: /images/banner.png is enough for local user-->
            <p>
            <a href="https://site.unibo.it/encode/en/"><img src="/guidelines/images/banner.png" alt="ENCODE Banner" style="text-align: center"></a>
         </p>
         <p>
           <a href="https://erasmus-plus.ec.europa.eu/opportunities/opportunities-for-organisations/cooperation-among-organisations-and-institutions"><img src="/guidelines/images/erasmus_logo.jpg" alt="Erasmus+" style="text-align: right" width="500" height="600">
              <img src="/guidelines/images/disclaimer_en.png" alt="disclaimer" style="text-align: center" width="500" height="600">
            </p>
            <p><a href="https://www.csrhymes.com">Theme built by C.S. Rhymes</a></p>
        </div>
 
    </div>
</footer>
