<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" style=" {% if page.hero_image %} background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover; {% endif %} {% if page.hero_height == "is-small" %} position: fixed; width: 100%; z-index: 1; {% endif %}">
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
 <!--realtive address: /images/banner.png is enough for local user-->
                  {% if page.hero_height == "is-small" %}
                       <a href="https://site.unibo.it/encode/en/"><img src="/guidelines/images/banner.png" alt="ENCODE Banner" style="width: 200px; float: right;"></a>
                   {% endif %}
            <h1 class="title is-2">{{ page.title }}</h1>
            <p class="subtitle is-3">{{ page.subtitle }}
            </p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
                <a href="https://site.unibo.it/encode/en/"><img src="/guidelines/images/banner.png" alt="ENCODE Banner" style="width: 250px; float: right;"></a>
            {% endif %}
        </div>
    </div>
</section>
<!--realtive address of images: /images/banner.png is needed for local user, while guidelines/images/banner.png is needed for online version-->